// Todos los banners
.header {
    position: relative;
    background-image: url('img/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
  
    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 0;
    }
  
    &__title {
      position: relative;
      font-size: 3em;
      font-family: 'Special Elite', cursive;
      color: #ffffffef;
      z-index: 1;
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
      animation: blink 1s infinite;
      margin: 0;
    }
  
    &__nav {
      position: absolute;
      bottom: 20px;
      z-index: 2;
      width: 100%;
      display: flex;
      justify-content: center;
  
      &-list {
        display: flex;
        gap: 20px;
        padding: 0;
        margin: 0;
        list-style: none;
      }
  
      &-link {
        color: #ccc;
        text-decoration: none;
        font-size: 1.2em;
        transition: color 0.3s ease;
  
        &:hover {
          color: #ffffff;
        }
      }
    }
  }
  
  // Animación de parpadeo 
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
  }
  
  // body 
  body {
    margin: 0;
    padding: 0;
    font-family: 'Special Elite', sans-serif;
    background-color: #0a0a0a;
    color: #dcdcdc;
  
    &.historia {
      background: #1a1a1a;
      color: #f5f5f5;
      font-family: 'PT Sans', sans-serif;
    }
  
    &.monstruos {
      background-color: #1b1b1b;
      color: #ddd;
    }
  }
  
  // Estilos principales
  .main {
    padding: 1.5em;
  
    &.historia {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 3em 0;
      gap: 3em;
      margin-bottom: 50px;
    }
  
    &.monstruos {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 2em;
      padding: 2em;
    }
  
    &__section {
      background-color: #1a1a1a;
      padding: 2em;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
      margin-bottom: 2em;
      text-align: center;

  /* HISTORIA */
  &.historia {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: right;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 1.5em; 
    width: 100%; 
    height: auto; 
    margin: 0 auto; 
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    gap: 4em;
  
    .main_image {
      max-width: 100%;  /* Asegura que la imagen no se salga de su contenedor */
      width: 65%;  /* Aplica la reducción del 35% */
      height: auto;
      object-fit: contain;
    }
    
    
  
    .historia-text {
      flex: 1 1 100%; 
      max-width: 200px; 
      color: #ffffff;
      font-size: 0.9em; 
      line-height: 1.0; 
      text-align: justify; 
    }
  
    /* Responsive para pantallas pequeñas */
    @media (max-width: 768px) {
      flex-direction: column; 
      width: 80%; 
      gap: 1em; 
  
      .main_image {
        max-width: 150px; 
      }
  
      .historia-text {
        max-width: 100%; 
        text-align: center; 
        font-size: 0.8em; 
      }
    }
  }
      
      /* MOUSTROS */
      &.monstruos {
        background-color: #222;
        padding: 1.5em;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  
        &:hover {
          transform: scale(1.05);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
        }
      }
    }
  
    &__section-title {
      font-family: 'Special Elite', cursive;
      color: #fffae6;
  
      &.historia {
        font-size: 2em;
        color: #fffae6;
        margin-bottom: 1em;
      }
  
      &.monstruos {
        font-family: 'Special Elite', cursive;
        color: #ffcc00;
        font-size: 1.8em;
      }
    }
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  p {
    line-height: 1.6;
  
    &.historia {
      line-height: 1.8;
      color: #e0e0e0;
      max-width: auto
    }
  }
  
  .personajes-grid {
    section {
      background-color: rgba(15, 15, 15, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      padding: 20px;
      transition: transform 0.2s;
  
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
      }
    }
  }
  
  // Footer
  .footer {
    background-color: #101010;
    color: #aaa;
    text-align: center;
    padding: 1em;
    font-family: 'Special Elite', cursive;
  
    p {
      text-shadow: 0 0 2px #ffffff, 0 0 8px #fffff6, 0 0 9px #f9ffe5;
      color: #f5f5f5;
      font-size: 1.4em;
    }
  
    &__nav-list {
      display: flex;
      justify-content: center;
      list-style: none;
      padding: 0;
      margin: 1em 0;
  
      &-item {
        margin: 0 10px;
      }
  
      &-link {
        color: #bebebe;
        text-decoration: none;
        transition: color 0.3s ease;
  
        &:hover {
          color: #ffffff;
        }
      }
    }
  }
  
  // Media Queries
  @media screen and (max-width: 768px) {
    .main__section.historia {
      flex-direction: column;
      text-align: center;
    }
  
    .main__image.historia {
      width: 100%;
    }
  
    .header__title {
      font-size: 2.5em;
    }
  }
  
  @media screen and (max-width: 576px) {
    .header {
      height: 200px;
    }
  
    .header__nav-link {
      font-size: 1em;
    }
  
    .footer {
      padding: 0.5em;
      font-size: 0.9em;
  
      p {
        font-size: 1.2em;
      }
    }
  }
  