// _variables.scss
$bg-color-dark: #0a0a0a;
$bg-color-light: #dcdcdc;
$header-bg: url('img/banner.jpg');
$primary-font: 'Special Elite', cursive;
$secondary-font: 'PT Sans', sans-serif;
$hover-color: #ffffff;
$main-color: #fffae6;
$highlight-color: #ffcc00;
